header.header
  .header__inner
    h1.head01
      a.link.header__logo(href="#")
        img(src="/assets/img/training01/logo.png", alt="")
    nav.nav
      ul.nav__list
        li.nav__item
          a.nav__link(href="#about") About
        li
          a.nav__link(href="#bicycle") Bicycle