header.header
  .header__inner
    //- トップページと下層ページでロゴ周りのタグの出し分け
    if isPage === "top"
      h1.head01
        a.link.header__logo(href="#")
          img(src="/assets/img/training01/logo.png", alt="")
    else
      .head01
        a.link.header__logo(href="#")
          img(src="/assets/img/training01/logo.png", alt="")
    nav.nav
      ul.nav__list
        li.nav__item
          a.nav__link(href="#about") About
        li
          a.nav__link(href="#bicycle") Bicycle