@charset "utf-8";

// 色設定、文字サイズ
@use "setting/vars" as *;

@use "inc/header";
@use "inc/footer";

/* ====================
PC/SP共通スタイル
==================== */
// 各セクションの上下余白
// 60px
html {
  background: color(wht);
}
.logo {
  width: 160px;
  font-size: 1px;
  a {
    display: inline-block;
    line-height: 1px;
  }
}
.sec { 
  margin: 30px auto 0;
  padding: 0 10px;
  &--index{
    padding: 30px 10px 0;
  }
  &__inner {
    max-width: 1000px;
    padding: 0 40px;// 各セクション共通の左右余白
    margin: auto;
    &--index {
      background: color(wht);
    }
  }
}
.font-title {
  font-size: size(large);
  font-weight: weight(bold);
  line-height: 1.222;
}
.font-text {
  font-size: size(medium);
  font-weight: weight(regular);
  line-height: 1.214;
}
.list{
  margin: 15px 0 4px 0;
  &__item {
    margin: 24px 0 0 0;
    &--first {
      margin: 0;
    }
  }
}
/* ====================
PC版スタイル
==================== */
.main {
  &__inner {
    margin: auto;
  }
}
// メインビジュアル
.mv {
  padding: 0 10px;
  &__inner {
    max-width: 1000px;
    margin: auto;    
  }
}
// セクションINDEX DETAIL 共通
.content {
  padding: 15px 0 0 0;
  &--index,
  &--detail {
    max-width: 600px;
    margin: auto;
    padding: 29px 0 30px 0;
  }
  &__inner {
    &--detail {
      display: flex;
      gap: 60px;
      justify-content: space-between;
      padding: 17px 0 0 0;
    }
  }
  &__text {
    padding: 0 10px 0 0;
  }
}
// セクション DETAIL
.content-left {
  width: calc(270 / 600) * 100%;// 計算式が欲しい
}
.content-right {
  width: calc(270 / 600) * 100%;// 計算式が欲しい
  .table {
    border-top:1px solid color(glay);
    border-bottom:1px solid color(glay);
    border-collapse: collapse;
    text-align: left;
    line-height: 1.214;
    margin: 25px 0;
    padding: 11px 0 20px;
    display: block;
    &__head {
      font-weight: weight(regular);
      min-width: 68px;
      padding: 4px 0 0 0;
    }
    &__desc {
      padding: 4px 34px 0 0;
    }
  }
  .link {
    display: inline-block;
    position: relative;
    padding: 0 0 4px 0;
    margin: 32px 0 0 0;
    &::before{
      position: absolute;
      content:"";
      background: color(blk);
      height: 1px;
      width: 100%;
      left:0;
      bottom:0;
    }
  }
}
/* ====================
SP版スタイル
==================== */
@media (max-width:767px) {
  /* ====================
  PC/SP共通スタイル
  ==================== */
  .sec { 
    padding: 0;
    &--index{
      padding: 30px 0 0;
    }
  }
  .list{
    margin: 16px 0 4px 0;
    text-indent: -1em;
    padding-left: 1em;
    &__item {
      margin: 28px 0 0 0;
      &--first {
        margin: 0;
      }
    }
  }
  // セクションINDEX DETAIL 共通
  .content {
    &--index,
    &--detail {
      max-width: unset;
    }
    &--index{
      // padding: 34px;
      padding: 29px 0 34px 0;
    }
    &__inner {
      &--detail {
        flex-direction: column;
        gap: 25px;
      }
    }
    &__text {
      padding: 0;
    }
  }
  .content-left,
  .content-right {
    width: 100%;
  }
  .content-right {
    .table {
      &__head {
        min-width: 74px;
        padding: 4px 0 0 0;
      }
      &__desc {
        padding: 4px 0 0 0;
      }
    }
  }
}