doctype html
html(lang="ja")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title training01_detail
    link(rel="preconnect", href="https://fonts.googleapis.com")
    link(rel="preconnect", href="https://fonts.gstatic.com", crossorigin)
    link(href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap", rel="stylesheet")
    link(rel="stylesheet", href="/assets/css/reset.css")
    link(rel="stylesheet", href="/assets/css/base.css")
    link(rel="stylesheet", href="/assets/css/training01/detail/style.css")
  body 
    - var isPage = "under";
    include ../inc/_header.pug
    main.main 
      .main__inner
        .mv 
          .mv__bg
        section.sec.sec--detail
          h1.sec__title.sec__title--detail.head01 タイトルタイトル１
          .content
            .content__inner
              p.content__text テキスト１テキスト１テキスト１テキスト１テキスト１テキスト１テキスト１テキスト１テキスト１テキスト１テキスト１テキスト１テキスト１テキスト１テキスト１テキスト１テキスト１テキスト１
              p.content__text テキスト１テキスト１テキスト１テキスト１テキスト１テキスト１テキスト１テキスト１テキスト１テキスト１テキスト１テキスト１テキスト１テキスト１テキスト１テキスト１テキスト１テキスト１
              p.content__text テキスト１テキスト１テキスト１テキスト１テキスト１テキスト１テキスト１テキスト１テキスト１テキスト１テキスト１テキスト１テキスト１テキスト１テキスト１テキスト１テキスト１テキスト１
        .link
          a.link-item(href="/training01/") トップに戻る 
    include ../inc/_footer.pug


