.list{
  margin: 15px 0 4px 0;
  &__item {
    margin: 24px 0 0 0;
    &--first {
      margin: 0;
    }
  }
}

@media (max-width:767px) {
  .list{
    margin: 16px 0 4px 0;
    text-indent: -1em;
    padding-left: 1em;
    &__item {
      margin: 28px 0 0 0;
      &--first {
        margin: 0;
      }
    }
  }
}