<!DOCTYPE html>
<html lang="ja">

<head>
  //- include ./inc/_index.pug
  <title>components</title>
</head>

<body>
  header.header
    .header__inner
      h1 
        a.link.header__profile(href="#")
          img(src="", alt="")
      nav.nav
        ul.nav__list
          li.nav__item
            a.nav__item(href="") About
          li
            a.nav__item(href="") Bicycle
  main.main 
    .main__inner
      //- ↓ここは背景画像として処理
      .mv 
        

</body>

</html>