footer.footer
  .footer__inner
    .sns-links
      a.link(href="#") Instagram
      a.link(href="#") Twitter
      a.link(href="#") FacebookInstagram
    small.footer__copy &copy; 2021 Recipe Diary