footer.footer
  .footer__inner
    .links
      a.link.link--footer(href="#") Instagram
      a.link.link--footer(href="#") Twitter
      a.link.link--footer(href="#") Facebook
    small.footer__copy &copy; 2021 Recipe Diary