@charset "utf-8";

@use "inc/header";
@use "inc/footer";

/*
変数として用意する
色
文字サイズ
文字の太さ
*/


/* ====================
PC/SP共通スタイル
==================== */
// 各セクションの上下余白
// 60px

html {
  background: #F4F9FF;
}

.logo {
  width: 160px;
  margin: 60px 0 0 0;
}

.sec { 
  margin: 60px auto 0;
  &--index{
    padding: 30px 0;
    background: #fff;
  }
  &__inner {
    max-width: 680px;
    padding: 0 40px;// 各セクション共通の左右余白
    margin: auto;
  }
}

.font-title {
  font-size: 1.125rem; // 18px
  font-weight: 700;
  line-height: 1.222;
}
.font-text {
  font-size: 0.875rem;// 14px
  font-weight: 400;
  line-height: 1.214;
}

.list{
  margin: 15px 0 4px 0;
  &__item {
    margin: 24px 0 0 0;
    &--first {
      margin: 0;
    }
  }
}

.flex {
  display: flex;
  &--detail{
    gap: 60px;
    justify-content: space-between;
  }
}


/* ====================
PC版スタイル
==================== */
.main {
  &__inner {
    margin: auto;
  }
}
// メインビジュアル
.mv {
  padding: 0 10px;
  &__bg {
    max-width: 1000px;
    margin: auto;
    height: 400px;
    background: url(../../img/training02/mv.png) no-repeat center center/cover;
    
  }
}
// セクション DETAIL
.content {
  padding: 15px 0 0 0;
  &__text {
  }
}
.content-left {
  width: calc(270 / 600) * 100%;// 計算式が欲しい
}
.content-right {
  width: calc(270 / 600) * 100%;// 計算式が欲しい
  .table {
      border-top:1px solid #DEDEDE;
      border-bottom:1px solid #DEDEDE;
      border-collapse: collapse;
      text-align: left;
      line-height: 1.214;
      margin: 25px 0;
      padding: 16px 0 20px;
      display: block;
      &__row{
      }
      &__head {
        font-weight: 400;
        min-width: 68px;
        padding: 4px 0 0 0;
      }
      &__desc {
        padding: 4px 34px 0 0;
      }
  }

  .link {
    display: inline-block;
    position: relative;
    padding: 0 0 4px 0;
    margin: 32px 0 0 0;
    &::before{
      position: absolute;
      content:"";
      background: #333;
      height: 1px;
      width: 100%;
      left:0;
      bottom:0;
    }
  }
}













/* ====================
SP版スタイル
==================== */


@media (max-width:767px) {

}