@charset "utf-8";
@use "sass:map";
@use "sass:math";

// ==================================================
// プロダクトでよく使用するカラーコードをキーワード指定で返却します。
//
// 例)
// デザインカンプ上で確認した文字色 = #fff
// [scss入力時]
//  p { color:color(wht); }
// [コンパイル後]
//  p { color: #fff ; }
// ==================================================
$colors:(
  wht:#fff,
  blk:#2B2A27,
  glay:#ccc,
  bgblue:#F4F9FF,
);
@function color($name) {
  @return map.get($colors, $name);
}

// ==================================================
// 文字サイズをremで計算後、返却します。
// ・ブラウザの仕様にあわせ16px = 1rem(1px = 0.0625rem)を前提に計算します。
// ・デザインカンプから取得した文字サイズを下記関数の()内に入力します。
// 
// 例)
// デザインカンプ上で取得した文字サイズ = 20pxの場合
// [scss入力時]
//  p { font-size: fz(20); }
// [コンパイル後]
//  p { font-size: 1.25rem; }
// ==================================================
@function fz($pxVal) {
  @return calc($pxVal * 0.0625) + rem;
}

// ==================================================
// line-heightを計算し、返却します。
// $digit : 小数点以下の有効桁数を指定します。
//
// 例)
// font-size:28px;に対してline-height:48px;が指定されている場合
// [scss入力時]
//  p { line-height: lh(28, 48); }
// [コンパイル後]
//  p { line-height: 1.71; }

// ==================================================
@function lh($fzVal,$lhVal) {
  $digit : 2; // 桁数指定
  $num: math.pow(10, $digit);
  $tmp : calc($lhVal / $fzVal) * $num;
  $floored : math.floor($tmp);
  $lineHeight : calc($floored / $num); 
  @return $lineHeight;
}

// ==================================================
// 文字の太さをキーワード指定で返却します。
//
// 例)
// デザインカンプ上で確認した文字の太さ = 700
// [scss入力時]
//  p { font-weight: weight(bold); }
// [コンパイル後]
//  p { font-weight : 700 ; }
// ==================================================
$weight:(
  thin: 100,
  light: 300,
  regular: 400,
  medium: 500,
  bold: 700,
  // black: 900 // 将来的に使うかも
);
@function weight($name) {
  @return map.get($weight, $name);
}

// ==================================================
// letter-spacingをemで計算し、返却します。
// 暫定的にfigma、Adobe XDのデザインカンプから取得する値を想定しています。
//
// 例)
// Figmaのデザインカンプで5%と指定されている場合
// [scss入力時]
//  p { letter-spacing: ls(5,f); }
// [コンパイル後]
//  p { letter-spacing: 0.01em; }
// ==================================================
@function ls($tr,$tool) {
  @if $tool == "f" { // figma
    $letterSpacing: calc($tr / 100) + em;
    @return $letterSpacing;
  } @else if $tool == "x" {// XD
    $letterSpacing: calc($tr / 1000) + em;
    @return $letterSpacing;
  }
}