@charset "utf-8";
@use "sass:map";

// ==================================================
// プロダクトでよく使用するカラーコードをキーワード指定で返却します。
//
// 例)
// デザインカンプ上で確認した文字色 = #fff
// [scss入力時]
//  p { color:color(wht); }
// [コンパイル後]
//  p { color: #fff ; }
// ==================================================
$colors:(
  wht:#fff,
  blk:#2B2A27,
  glay:#ccc,
  bgblue:#F4F9FF,
);
@function color($name) {
  @return map.get($colors, $name);
}

// ==================================================
// 文字サイズをremで計算後、返却します。
// ・ブラウザの仕様にあわせ16px = 1rem(1px = 0.0625rem)を前提に計算します。
// ・デザインカンプから取得した文字サイズを下記関数の()内に入力します。
// 
// 例)
// デザインカンプ上で取得した文字サイズ = 20pxの場合
// [scss入力時]
//  p { font-size: fz(20); }
// [コンパイル後]
//  p { font-size: 1.25rem; }
// ==================================================
@function fz($pxVal) {
  @return calc($pxVal * 0.0625) + rem;
}

// line-height

// 文字の太さ
$weight:(
  thin: 100,
  light: 300,
  regular: 400,
  medium: 500,
  bold: 700,
  // black: 900 // 将来的に使うかも
);
@function weight($name) {
  @return map.get($weight, $name);
}