@charset "utf-8";


// ヘッダー
// あとで切り出し
.header {
  padding:9px 0 11px;
  background: #fff;
  &__inner {
    max-width: 966px;
    display: flex;
    justify-content: space-between;
    margin: auto;
    padding: 0 50px;
    .nav {
      margin: 11px 0 0 0;
    }
    .head01 {
      width: 120px;
    }
    .head01,
    .nav{
      align-self: flex-start;
      font-size: 0.875rem;
      color:#24292E;
      &__list {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 33px;
      }
    }
  }
}
.main {
  &__inner{
    max-width: 960px;
    margin: auto;
    padding: 0 50px;
  }
}
// メインビジュアル
.mv {
  &__bg {
    height: 568px;
    background: url(../../../img/training01/detail/mv.png) no-repeat center center / cover;
  }
}
// セクション：About
.sec{
  padding: 76px 15px 0;
  max-width: 966px;
  margin: auto;
  &__title {
    font-size: 2.2rem;
    font-weight: 500;
    position: relative;
    width: fit-content;
    margin: auto;
    &::before {
      position: absolute;
      content:"";
      background: currentColor;
      height: 1px;
      width: 100%;
      left:0;
      bottom:0;
    }
  }
  &__title--detail {
    text-align: left;
    width: auto;
    &::before {
      display: none;
    }
  }
}
.sec--detail {
  padding: 26px 30px 0;
  &__title {
    font-size: 2.2rem;
    font-weight: 500;
    position: static;
  }
  &::before {
    display: none;
  }
}
.content{
  margin: 6px auto 0;
  &__text {
    margin: 20px 0 0 0 ;
    font-size: 0.875rem;
  }
}

.link {
  margin: 64px 0 0 0;
  text-align: center;
  font-size: 0.875rem;
}

// あとで切り出し
.footer {
  padding: 102px 0 8px 0;
  text-align: center;
  &__copy {
    font-size: 0.5rem;
  }
}                

@media (max-width:767px) {
  // ヘッダー 
  .header {
    padding:10px 15px;
    &__inner {
      padding: 0;
      .nav {
        margin: 10px 0 0 0;
      }
      .head01 {
        margin: 0 0 0 0;
      }
    }
  }
  .main {
    &__inner{
      padding: 0 15px;
    }
  }
  .mv {
    &__bg {
      height: 228px;
      background: url(../../../img/training01/detail/mv_sp.png) no-repeat center center / cover;
    }
  }
}