@charset "utf-8";

// ヘッダー
.header {
  padding:9px 0 11px;
  background: #fff;
  &__inner {
    max-width: 966px;
    display: flex;
    justify-content: space-between;
    margin: auto;
    .nav {
      margin: 11px 58px 0 0;
    }
    .head01 {
      width: 120px;
      margin: 0 0 0 55px;
    }
    .head01,
    .nav{
      align-self: flex-start;
      font-size: 0.875rem;
      color:#24292E;
      &__list {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 33px;
      }
    }
  }
}
// メインビジュアル
.mv {
  &__bg {
    height: 600px;
    background: url(../../img/training01/mv.png) no-repeat center center / cover;
  }
}
// セクション：About
.sec{
  padding: 76px 15px 0;
  max-width: 966px;
  margin: auto;
  &__title {
    font-size: 2.2rem;
    font-weight: 500;
    text-align: center;
    position: relative;
    width: fit-content;
    margin: 0 auto 0;
    &::before {
      position: absolute;
      content:"";
      background: currentColor;
      height: 1px;
      width: 100%;
      left:0;
      bottom:0;
    }
  }
}
.content{
  max-width: 528px;
  margin: 70px auto 0;
  &__inner{
    display: flex;
    gap: 30px;
  }
}
.content-img{
  min-width: 100px;
  width: 100px;
  align-self: center;
}
.content-desc{
  .head03{
    font-size: 1.1rem;
    line-height: 1;
  }
  .desc{
    font-size: 0.875rem;
    margin: 16px 0 0 0;
    line-height: 1.55em;
    letter-spacing: 0.3px;
  }
}
// セクション：Bicycle
.sec--bicycle {
  padding: 94px 15px 0;
}
.content--bicycle{
  max-width: 858px;
  margin: 60px auto 0;
  .content__inner--bicycle{
    display: flex;
    justify-content: space-between;
    gap: 17px;
  }
}
.media {
  &__desc {
    margin: 8px 0 0 0;
    text-align: center;
  }
  &__title {
    font-size: 1rem;
  }
  &__text {
    margin: 12px 0 0 0;
    font-size: 0.875rem;
  }
}
.footer {
  padding: 102px 0 8px 0;
  text-align: center;
  &__copy {
    font-size: 0.5rem;
  }
}                

@media (max-width:1280px) {
  // ヘッダー
  .header {
    &__inner {
      .nav {
        margin: clamp(10px, 0.859375vw, 11px) clamp(10px, 4.53125vw, 58px) 0 0;
      }
      .head01 {
        margin: 0 0 0 clamp(15px, 4.296875vw, 55px);
      }
    }
  }
}

@media (max-width:767px) {
  // ヘッダー
  .header {
    padding:10px 0;
    &__inner {
      .nav {
        margin: 10px 20px 0 0;
      }
      .head01 {
        margin: 0 0 0 15px;
      }
    }
  }
  .mv {
    &__bg {
      background: url(../../img/training01/mv_sp.png) no-repeat center center / cover;
    }
  }
  // セクション：About
  .content{
    margin: 60px 0 0 0;
    &__inner{
      flex-direction: column;
      gap: 10px;
    }
  }
  .content-desc{
    .desc{
      line-height: 1.43em;
    }
  }
  // セクション：Bicycle
  .sec--bicycle {
    padding: 107px 15px 0;
  }
  .content--bicycle{
    .content__inner--bicycle{
      gap: 30px;
    }
  }
}