@charset "utf-8";

// ヘッダー
.header {
  padding:9px 0 11px;
  background: #fff;
  &__inner {
    max-width: 966px;
    display: flex;
    justify-content: space-between;
    margin: auto;
    .nav {
      margin: 11px 61px 0 0;
    }
    .head01 {
      width: 120px;
      margin: 0 0 0 66px;
    }
    .head01,
    .nav{
      align-self: flex-start;
      font-size: 0.875rem;
      color:#24292E;
      &__list {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 33px;
      }
    }
  }
}

.mv {
  &__bg {
    height: 600px;
    background: url(../../img/training01/mv.png) no-repeat center center / cover;
  }
}


@media (max-width:1280px) {
  // ヘッダー
  .header {
    &__inner {
      .nav {
        margin: clamp(10px,0.859375vw,11px) clamp(10px,5.35625vw,61px) 0 0;
      }
      .head01 {
        margin: 0 0 0 clamp(15px, 5.15625vw, 66px);
      }
    }
  }
}

@media (max-width:767px) {
  // ヘッダー
  .header {
    padding:10px 0;
    &__inner {
      .nav {
        margin: 10px 20px 0 0;
      }
      .head01 {
        margin: 0 0 0 15px;
      }
    }
  }
  .mv {
    &__bg {
      height: 600px;
      background: url(../../img/training01/mv_sp.png) no-repeat center center / cover;
    }
  }
}