doctype html
html(lang="ja")
  -const headTitle = "training05";
  -const directoryPath = "training05";
  include inc/_head.pug
  body 
    main.main 
      .main__inner
        .mv
          .mv__inner
            .recipe-img
              img(src="/assets/img/training05/recipe_image.png", alt="ひよこ豆とアボガドのタコスの画像。皿に3つ分盛りつけられている。")
            .recipe-desc
              .recipe-desc__name
                h1 ひよこ豆とアボガドのタコス
              .recipe-desc__lead
                p たっぷりのひよこ豆とレンズ豆にアボガドとトマトを添えて、少しライムを絞ったらおいしいタコスのできあがりです。
              .recipe-desc__list-wrapper
                h2.recipe-desc__list-title 材料（2人分）
                include inc/_descriptionList.pug
              .recipe-desc__howto-wrapper
                h2.recipe-desc__list-title 作り方
                include inc/_orderdList.pug
        section.sec
          .sec__inner
            .content
              .link-wrapper
                a.link.link--cta.hover(href="#") レシピ一覧を見る
    include inc/_footer.pug